@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.bebas {
  font-family: "Bebas Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.github {
  height: 32px;
  width: 32px;
  align-self: center;
  margin-left: 10px;
}

ul#menu {
  margin: 0;
  height: 60px;
}

main {
  margin: 100px 0;
}
